VITE_SUPABASE_URL=https://wzgjfifwjtlccgipomco.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_mt-MmVKj7AMLp1-VF0tkcg_h0c06PwS
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_mt-MmVKj7AMLp1-VF0tkcg_h0c06PwS
